<section id="wrap-achievements">
	
	
	
	<div class="player-holder">
		<img class="logo-profile" data-ng-src={[{profile.picture}]} alt="{[{profile.firstName}]} {[{profile.lastName}]} profile image" />
	</div> 
	 
	<div class="player-stats">
		<h3>{[{profile.points}]}pts</h3>
		<h4>{[{profile.rank}]}</h4>
	</div> 
	
	<div class="player-icon-leaderboard"><a href="javascript:void(0);"  data-ng-click="gotoLeaderboardPage()"><img src="static/img/LeaderBoardIcon.png"/></a></div>
	<div class="player-icon-achievement"><a href="javascript:void(0);"  data-ng-click="gotoAchievementPage()"><img src="static/img/AchivementsIcon.png"/></a></div> 
	<div class="player-icon-home"><a href="javascript:void(0);"  data-ng-click="gotoHome()"><img src="static/img/HomeIcon.png"/></a></div> 
	
	
	<div id="divider"></div>
		
	
	
	<div class="table1">
		<div class="AchivementsBox">
			<div id="achivements" data-scrollable-content="true" data-ng-show="data.length > 0">
				<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
				<div class="viewport">
					<div class="overview">
						<table>
							<tbody>
								<tr data-ng-repeat="challenge in data"  data-ng-class-odd="'odd'">
									<td data-ng-show="displayingRadomGenres">{[{challenge.profile.firstName}]} {[{challenge.profile.lastName}]}</td>
									<td style="width:200px" id="achivement_name_{[{challenge.id}]}">{[{challenge.id}]}. {[{challenge.name}]}</td>
									<td style="width:50px" id="achivement_score_{[{challenge.id}]}">{[{challenge.score}]}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="table2">

		<div id="badges" data-scrollable-content="true" data-ng-show="data.length > 0">
			<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
			<div class="viewport">
				<div class="overview">
					<table>
						<tbody>
							<tr data-ng-repeat="challenge in badges">
								<td data-ng-show="displayingRadomGenres">{[{challenge.profile.firstName}]} {[{challenge.profile.lastName}]}</td>
								<td style="width:200px" id="badge_name_{[{challenge.id}]}"><div id="badge_name" class="badge_name_{[{challenge.id}]}"></div><span class="badge_name_text">{[{challenge.name}]}</span></td>
								<!--<td style="width:50px" id="badge_score_{[{challenge.id}]}">{[{challenge.score}]}</td>-->
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--
	<ul>
		<li data-ng-repeat="trophy in trophies | limitTo: 4">
			<a href="javascript:void(0);">
				<img class="trophy-icon" data-ng-src="{[{trophy.url}]}" />
			</a>
		</li>
	</ul>
	-->
	
	<!--
    <a href="javascript:void(0);" data-ng-show="isMyChallenges" data-ng-click="data = myChallenges" style="color: #fff;">Show My challenges</a>
    <a href="javascript:void(0);" data-ng-show="isMyChallenges" data-ng-click="data = playedChallenges" style="color: #fff;">Show Played challenges</a>
    <div data-ng-show="data.length <= 0" style="color: #fff;">There are no available challenge</div>
	-->
	
    <div data-ng-show="isLoading" class="loadingSpinner"><h1>Please wait...</h1><p><img src="static/img/loader.gif" alt="Loading..."/></p></div>
</section>