<div class="gamePlay"></div>
<section id="wrap-gameplay" data-ng-class="{'waitingForGo': waitingForGo, 'locked': locked}" style="background:{[{wrap_background}]}">
    <div id="timesetbg"></div>
	<h2 class="timeset" data-display-timer="timeset"></h2>
	
	<!--
	<div>
		Challenge  <span id="challengeName">{[{ challengeName }]}</span> |  
		PTS  <span id="displayScore">{[{profile.points}]}</span> | 
		Added PTS  <span id="displayAddedScore">0</span>
	</div>
	-->
	
	<br />
    <div class="question">
        <h3>
            {[{ data.questions[currentQuestion].question }]}
        </h3>
    </div>

    <ul>		
        <li><span class="TopLeft" data-ng-click="submitAnswer(data.questions[currentQuestion].options[0], $event)">{[{ data.questions[currentQuestion].options[0] }]}</span></li>
        <li><span class="TopRight" data-ng-click="submitAnswer(data.questions[currentQuestion].options[1], $event)">{[{ data.questions[currentQuestion].options[1] }]}</span></li>		
        <li><span class="BottomLeft" data-ng-click="submitAnswer(data.questions[currentQuestion].options[2], $event)">{[{ data.questions[currentQuestion].options[2] }]}</span></li>
        <li><span class="BottomRight" data-ng-click="submitAnswer(data.questions[currentQuestion].options[3], $event)">{[{ data.questions[currentQuestion].options[3] }]}</span></li>
    </ul>

    <ul class="wrap-progress">
        <li data-ng-repeat="question in data.questions" class="{[{evalAnswerToClassname(question)}]}"></li>
    </ul>
	
    <div data-ng-show="isLoading" class="loadingSpinner"><h1>Please wait...</h1><p><img src="static/img/loader.gif" alt="Loading..."/></p></div>
</section>