<section id="wrap-intro">
	
	<!--
	<h1 data-display-timer="timeset"></h1>
	
	<h2 class="ceo">Challenge a CEO</h2>
    <div></div>
	-->
	
     <!--
	 <ul class="wrap-ceo">
        <li data-ng-repeat="user in ceo">
            <a href="javascript:void(0);" data-ng-click="showUserChallenges(user.linkedin_id)" class="profile-link"><img class="logo-profile" data-ng-src="{[{user.picture}]}" alt="{[{user.firstName}]}" /></a><span>{[{user.firstName}]} {[{user.lastName}]}</span>
        </li>
    </ul>
	-->
	
	
	
	<div class="player-holder">
		<img class="logo-profile" data-ng-src={[{profile.picture}]} alt="{[{profile.firstName}]} {[{profile.lastName}]} profile image" />
	</div> 
	 
	<div class="player-stats">
		<!--<h3>{[{profile.points}]}pts</h3>-->
		<h3><span id="displayScore">{[{profile.points}]}</span>pts</h3>
		<h4><span id="displayRank">{[{profile.rank}]}</span></h4>
	</div> 
	
	<div class="player-icon-leaderboard"><a href="javascript:void(0);"  data-ng-click="gotoLeaderboardPage()"><img src="static/img/LeaderBoardIcon.png"/></a></div>
	<div class="player-icon-achievement"><a href="javascript:void(0);"  data-ng-click="gotoAchievementPage()"><img src="static/img/AchivementsIcon.png"/></a></div> 
	<div class="player-icon-home"><a href="javascript:void(0);"  data-ng-click="gotoHome()"><img src="static/img/HomeIcon.png"/></a></div> 
	
	<div id="divider"></div>
	

	
	<div>
       <!--  <ul> 	-->
            <li data-ng-repeat="game in games | limitTo: 4">
                <a href="javascript:void(0);"  data-ng-click="startGame(game)">
					<div id="{[{game.name}]}" style="background:url({[{game.url}]}) no-repeat;height:254px;width:215px;"></div>
					<span>{[{user.firstName}]}</span>
				</a>
            </li>
       <!--   </ul> -->
		<!--
        <a data-ng-show="connections.length > 8" class="more" href="javascript:void(0);"  data-ng-click="showMoreConnections = !showMoreConnections">More connections</a>
		-->
    </div>
	
	<div id="divider"></div>
		
   
	
	<div class="connections" id="leaderboard_main">
		
		<h2>{[{leadertitle}]}</h2>
	
		<div id="leaderthumbs">
		<li data-ng-repeat="user in challenges | limitTo: 8">
			<div class="connection-profile-holder">
				<div class="connection-profile">
					<!--<div id="leaderboard_avatar_rank">{[{leaderTitleIndex}]}</div>-->
					<a href="javascript:void(0);"  data-ng-click="getUserScores(user.linkedin_id)" >
						<img data-ng-src="{[{user.picture}]}" alt="{[{user.firstName}]}" />
					</a>
				</div>
				<span>{[{user.firstName}]} {[{user.lastName}]}</span>
			</div>
		</li>
		</div>
		
        <!--
        <a data-ng-show="connections.length > 8" class="more" href="javascript:void(0);"  data-ng-click="showMoreConnections = !showMoreConnections">More connections</a>
		-->
    </div>
	
	
	
	<!-- GENRES -->
	<div class="connections">
		
		<div class="popup" data-ng-show="showGenres">
			<div style="margin-top:60px;"></div>
			<h1> </h1>
			
			<div class="popupClose">
				<a href="javascript:void(0);"  data-ng-click="genreClose()"><img class="popupbg" src="static/img/CloseButton.png" /></a>
			</div> 
		
			<div class="wrap-genres" alt="{[{random1}]}" title="{[{random2}]}">
				<li data-ng-repeat="genre in genres" >
					<a id="genre_{[{genre.id}]}" class="{[{genre.name}]}" style="height:36px;width:189px;background:url({[{genre.url}]});display:block" href="javascript:void(0);" data-ng-click="selectGenre(genre.id)"></a>
				</li>
		
			</div>
		</div> 
	</div>
	
	
	
	
	<!-- OPP -->
	<div id="connections">
		
		<div class="popup"  data-ng-show="showOpps">
			<div style="margin-top:90px;"></div>
			<h1b>Who will you go &nbsp; <br/><h1c>Head to Head</h1c> with...</h1b>
			
			<div class="popupClose">
				<a href="javascript:void(0);"  data-ng-click="oppClose()"><img class="popupbg" src="static/img/CloseButton.png" /></a>
			</div> 
			
			<div style="margin-top:40px;"><div>
			
			<div data-scrollable-content="true">
				<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
				<div class="viewport">
					<div class="overview" style="height:1500px">
						<li data-ng-repeat="user in connections | limitTo: 100">
							<div class="connection-profile-holder">
								<div class="connection-profile">
									<a href="javascript:void(0);"  data-ng-click="selectOpp(user.linkedin_id)" >
										<img data-ng-src="{[{user.picture}]}" alt="{[{user.firstName}]}" />
									</a>
								</div>
								<div style="margin-top:5px;"><div>
								<span>{[{user.firstName}]} {[{user.lastName}]}</span>
							</div>
						</li>
					</div>
				</div>
			</div> 
		</div> 
	
	</div> 
	
		
	
	<!--
    <p class="tabs ng-class:gameType" data-ng-init="gameType='take-challenge'"> <a class="takeBtn" href="javascript:void(0);" data-ng-click="gameType='take-challenge'">Play a challenge</a> <a class="setBtn" href="javascript:void(0);" data-ng-click="gameType='set-challenge'">Set a challenge</a> </p>
	<div class="wrap-genres" data-ng-show="gameType=='take-challenge'">
        <p>Select a genre and play a game, trying to beat the score set by another user</p>
        <ul>
            <li><a href="javascript:void(0);" data-ng-click="startPractice()">Practice</a></li><li data-ng-repeat="genre in genres"><a href="javascript:void(0);" data-ng-click="showChallengesByGenre(genre.id)">{[{genre.name}]}</a></li>
        </ul>
    </div>
	-->
	
	<!--
    <div class="wrap-genres" data-ng-show="gameType=='set-challenge'">
        <p>Select a genre and play a game to set a score, then challenge your connections to beat it!</p>
        <ul>
            <li data-ng-repeat="genre in genres"><a href="javascript:void(0);" data-ng-click="setChallengeByGenre(genre.id)">{[{genre.name}]}</a></li>
        </ul>
    </div>
	-->
	
	<!--
    <div data-ng-show="showMoreConnections" data-ng-init="showMoreConnections = false" class="wrap-more-connections">
        <a class="btn-close" href="javascript:void(0);"  data-ng-click="showMoreConnections = !showMoreConnections" >Close</a>
        <h3>Find a connection</h3>
        <input type="text" placeholder="Search by name" data-ng-model="filterConnectionName" />
        <a href="javascript:void(0);"  data-ng-click="filterConnectionName = ''" title="Clear filter" >X</a>
        <div class="wrap-profiles">
            <label data-ng-repeat="user in connections | filter: filterByPlayerName"><input type="checkbox" data-ng-click="showUserChallenges(user.linkedin_id)"/><img ng-src="{[{ user.picture }]}" />{[{ user.firstName }]} {[{ user.lastName }]}</label>
        </div>
    </div>
	-->
	
	
</section> 
