<div id="wrap-overlay">
	<section id="wrap-homescreen">
		<!-- <h1>IT'S EASY! JUST MATCH THE BUZZWORD TO THE DEFINITION, BUT TIME'S TICKING...</h1> -->
		<h1> </h1>
		<h2>First-time BUZZER?<span>LET'S GET YOU INDUCTED...</span></h2>
		<p>Welcome to Beat the Buzzword, a game of serious office wit! 
			See if you have what it takes to recognise all of the buzzwords in our
			HR, Technology, General Business categories, and more...</p>
		<p>
		When you're finely attuned to today's business lingo, test your skills
		against other buzzers, or challenge your Linkedin connections.
		Upscale your boss, see how agile your CTO is or refactor a recruiter!</p>
		
		<!-- -->
		<strong>Get Started</strong>
		
		<div id="isLoggedIn" data-ng-show="isLoggedIn">
			<a href="javascript:void(0);" data-ng-click="play()">PLAY</a>
		</div>
		
		
		<!-- -->
		<script type="in/Login"></script>
		 
		 
		<!-- 
		<p><a href="/login/linkedin/"><img src="https://dlc1-s.licdn.com/sites/all/themes/dlc/img/widgets/widget_signin.png" alt="Sign in with LinkedIn" /></a></p>
		 -->
		 
	</section>
</div>