<section id="wrap-intro">
	
	<!--
	<h1 data-display-timer="timeset"></h1>
	
	<h2 class="ceo">Challenge a CEO</h2>
    <div></div>
	-->
	
     <!--
	 <ul class="wrap-ceo">
        <li data-ng-repeat="user in ceo">
            <a href="javascript:void(0);" data-ng-click="showUserChallenges(user.linkedin_id)" class="profile-link"><img class="logo-profile" data-ng-src="{[{user.picture}]}" alt="{[{user.firstName}]}" /></a><span>{[{user.firstName}]} {[{user.lastName}]}</span>
        </li>
    </ul>
	-->
	 
	<div class="player-holder">
		<img class="logo-profile" data-ng-src={[{profile.picture}]} alt="{[{profile.firstName}]} {[{profile.lastName}]} profile image" />
	</div> 
	 
	<div class="player-stats">
		<h3>{[{profile.points}]}pts</h3>
		<h4>{[{profile.rank}]}</h4>
	</div> 
	
	<div class="player-icon-leaderboard"><a href="javascript:void(0);"  data-ng-click="gotoLeaderboardPage()"><img src="static/img/LeaderBoardIcon.png"/></a></div>
	<div class="player-icon-achievement"><a href="javascript:void(0);"  data-ng-click="gotoAchievementPage()"><img src="static/img/AchivementsIcon.png"/></a></div> 
	<div class="player-icon-home"><a href="javascript:void(0);"  data-ng-click="gotoHome()"><img src="static/img/HomeIcon.png"/></a></div> 
	<div class="player-icon-settings"><a href="javascript:void(0);"  data-ng-click="gotoAchievementPage()"><img src="static/img/SettingsIcon.png"/></a></div> 

	
	<div id="divider"></div>
	
	
	

	
		
	<div class="connections">
		
		
		<div class="popup">
			
			<div style="margin-top:60px;"><div>
				
			<h1> </h1>
		
			<div class="wrap-genres">
				<li data-ng-repeat="genre in genres">
					<a href="javascript:void(0);" data-ng-click="startChallenge(genre.id)"><img data-ng-src={[{genre.url}]} alt="{[{genre.name}]}" /></a>
				</li>
			</div>
				
		</div> 
	
	</div>
	
</section> 
