<section id="wrap-user-challenges">
    <h1>My Challenges...</h1>

    <table>
        <thead>
            <tr>
                <th>Genre</th>
                <th>Correct answers</th>
                <th>Timeset</th>
                <th>Times played</th>
            </tr>
        </thead>
    </table>
    <div data-scrollable-content>
        <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
        <div class="viewport">
            <div class="overview">
                <table>
                    <tbody>
                        <tr data-ng-repeat="challenge in data">
                            <td>{[{challenge.genre.name}]}</td>
                            <td>{[{challenge.correctAnswers}]}</td>
                            <td>{[{challenge.timeset}]}</td>
                            <td>{[{challenge.timesPlayed}]}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div data-ng-show="isLoading" class="loadingSpinner"><h1>Please wait...</h1><p><img src="static/img/loader.gif" alt="Loading..."/></p></div>
    <div data-popup-box />
</section>