/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #cc0400;
    color: #fff;
    padding: 0.5em 0;
    font-size: 1.2em;
    text-align: center;

    a {
    	color: #ffffd5;
    	font-weight: bold;
    }
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */








html {
  text-rendering: optimizeLegibility;
}

html, html a {
    -webkit-font-smoothing: subpixel-antialiased !important;
}

body,html, #wrap-main {
	min-height: 100%;
}

body {
	background: #f2eee3 image-url('paper-left.png') repeat-y 0 0;

	&.modal-open {
		overflow: hidden;
	}
	html.no-js & {
		height: 100%;
		overflow: hidden;
	}
	&.tidy {
		#asset-coffee-ring, #asset-mug, #asset-splat, #asset-todo, #asset-side-splat, #asset-glasses {
			display: none;
		}
	}
}

%assets { 
	position: absolute;
	left: 50%;
}

#wrap-main {
	background: image-url('paper-right.jpg') repeat-y 100% 0;

	html.no-js & {
		position: relative;
		&:after {
			content: 'Please use a browser with JavaScript enabled to be able to access this website!';
			text-align: center;
			font-weight: bold;
			font-size: 1.5em;
			display: block;
			position: fixed;
			padding-top: 100px;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: #f2eee3;
			color: #000;
			z-index: 9999;
		}
	}

	#asset-coffee-ring {
		@extend %assets;
		background: image-url('coffee-ring.png') repeat-y 100% 0;
		top: 108px;
		margin-left: -618px;
		width: 135px;
		height: 139px;
		z-index: 0;
	}
	#asset-mug {
		@extend %assets;
		background: image-url('mug.png') repeat-y 100% 0;	
		width: 231px;
		height: 186px;
		top: 140px;
		margin-left: -700px;
		z-index: 1;	
	}
	#asset-splat {
		@extend %assets;
		background: image-url('splat.png') repeat-y 100% 0;	
		top: 100px;
		margin-left: 500px;	
		width: 90px;
		height: 55px;
	}
	#asset-todo {
		@extend %assets;
		background: image-url('todo.png') repeat-y 100% 0;	
		top: 400px;
		margin-left: 400px;	
		width: 265px;
		height: 268px;
	}
	#asset-side-splat {
		@extend %assets;
		background: image-url('side-splat.png') repeat-y 100% 0;	
		top: 500px;
		left: 0;
		width: 39px;
		height: 115px;
	}
	#asset-glasses {
		@extend %assets;
		background: image-url('glasses.png') repeat-y 100% 0;	
		top: 500px;
		margin-left: -640px;
		width: 263px;
		height: 175px;	
	}
}

img.profile, img.logo-profile { 
	display: inline-block; 
	border: 3px solid #fff; 
	@include border-radius(5px); 
	max-width: 100px; 
}

a.profile-link {
	position: relative;	
	display: inline-block;

	&:hover + span {
		display: inline;
	}
	& + span {
		display: none;
		position: absolute;
		z-index: 9999;
		background: #01506a;
		background: rgba(1, 80, 106, 0.7);
		padding: 3px 10px;
		@include border-radius(10px);
		color: #fff;
		font-weight: bold;
		margin-top: 97px;
		margin-left: -34px;
	}
}

h1, h2, h3, h4, p, a, strong, td {
	font-family: $futura;
}

header {
	position: relative;
	min-height: 157px;
	#wrap-linkedin {
		position: absolute;
		left: 50%;
		top: 20px;
		margin-left: -436px;
		img.logo-linkedin { }
		img.logo-profile { width: 40px; }

		div { display: inline-block; vertical-align: top; text-align: left; padding: 5px 0 0 5px; }
		p, strong { display: block; margin: 0; padding: 0; color: #a56d28; line-height: 1; }
	}
	#wrap-usermenu {
		position: absolute;
		left: 50%;
		top: 20px;
		margin-left: 253px;
		text-align: right;

		p, strong { display: block; margin: 0; padding: 0; color: #a56d28; }
		a { text-decoration: none; color: #008aff; &:hover { text-decoration: underline; } }
		ul {
			@extend %ul-horizontal;
			text-align: right;
			&:first-child a { color: #5d3609; }
			li { border-left: 1px solid #5d3609; padding: 0 5px; }
			li:first-child { border: none; }
		}
	}

	.logout {
		span {
			background: image-url($sprites-path + '/icons.png') no-repeat -17px 0;
			width: 16px;
			height: 16px;
			display: inline-block;
			margin-left: 5px;
		}
	}
	.settings {
		span {
			background: image-url($sprites-path + '/icons.png') no-repeat 0 0;
			width: 16px;
			height: 16px;
			display: inline-block;
			margin-left: 5px;
		}		
	}
}

#wrap-centering-container {
	width: 870px;
	text-align: center;
	z-index: 1;
	position: relative;
	margin: 0 auto;
}

#logo { 
	margin: 0 auto;	
	overflow: hidden;
	height: 164px;
}

#wrap-overlay {
	margin: 0 auto;	
	width: 870px;
	height: 620px;
	background: image-url('overlay.png') no-repeat 50% 0;

	h1 {
		font-size: 1.125em;
		color: #9c9c9c;
		height: 55px;
		line-height: 55px;
		text-align: center;
		padding-left: 20px;
		font-weight: 500;
		font-style: normal;
		margin-top: 0;
		margin-bottom: 0;
		text-transform: uppercase;
	}

	& > div:first-child {
		height: 100%;
	}
}

#wrap-homescreen {

	p, h2, strong {
		width: 500px;
		margin: 0 auto;
	}

	p { 
		color: yellow; 
		margin-top: 20px;
	}

	h2 {
		color: #fff;
		font-style: italic;
		margin-top: 60px;
		margin-bottom: 40px;
		font-size: 1.875em;

		span {
			font-size: 0.5em;
			font-weight: normal;
			padding-left: 10px;
		}
	}

	strong {
		display: block;
		font-weight: normal;
		color: #fff;
		font-style: italic;
		margin-top: 30px;
		font-size: 0.95em;
		letter-spacing: 1px;
	}
}

#wrap-intro {
	padding: 60px 40px 40px;
	text-align: center;
	position: relative;

	li {
		display: inline-block;
		margin: 1px;
	}
	h2 {
		display: inline-block;
		color: $color-text-headings;
		margin-bottom: 10px;
		font-size: 1em;
		text-transform: uppercase;
		line-height: 2;
		font-weight: normal;

		&.ceo {
			@extend %border-shadow;
			@include border-radius($size-border-radius-large);
			background: #262930;
			padding: 0 30px;
			margin-bottom: 40px;
		}
	}
	a.profile-link {
		width: 76px;
		height: auto;
		margin: 0 31px;

		img {
			width: 70px;
			height: 70px;
		}

		& + span { margin-top: 24px; margin-left: -40px;  }
	}
	.connections {
		@extend %border-shadow;
		background: #262930;
		@include border-radius($size-border-radius-medium);
		text-align: left;
		padding: 15px 20px 10px;

		ul { @extend %ul-horizontal; display: inline-block; width: 702px; li { margin-right: 15px; } }
		a.profile-link {
			color: #fff;
			margin: 0;
			span { display: block; text-align: center; margin-top: 3px; text-transform: uppercase; font-size: 0.8em; line-height: 1.2; }
		}
		a.more {
			margin: 0; line-height: 2.8;
			background: image-url('more-connections.png') no-repeat 0 0; 
			width: 44px; height: 44px; display: inline-block; @include hide-text; 

			&:hover { @include opacity(0.7); }
		}
	}
	.last a.profile-link + span { margin-left: -176px; }

	& > p > a { margin: 0 auto; }

	.wrap-genres {
		@extend %border-shadow;
		background: #262930;
		@include border-radius($size-border-radius-medium);
		padding: 15px;
		text-align: left;

		ul { margin: 0; }
		li { padding: 0 3px 5px; }

		a {
			@extend %big-cta-with-hover;
			margin: 0 auto;	
			width: 152px;
			padding: 0 15px;
			height: 35px;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			line-height: 1.2;
			font-size: 1.1em;
			text-transform: uppercase;
		}
		.practice {
			width: 140px;
			margin: 15px auto;
		}
		p { color: #fff; text-align: center; }
	}
	.tabs {
		padding: 0;
		margin: 60px 0 -7px;

		a { 
			@extend %border-shadow;
			background: #0b0f19;
			@include background-image(linear-gradient(#0b0f19 0%, #262930 80%));
			@include border-radius(15px 15px 0 0);
			display: inline-block;
			padding: 8px 30px;
			margin: 0 -10px;
			text-decoration: none; 
			text-transform: uppercase;
			color: $color-text-headings; 
			position: relative;
			z-index: 1;

			&:after {
				content: '';
				display: block;
				background: #262930;
				height: 10px;
				width: 100%;
				left: 0;
				bottom: -5px;
				position: absolute;
			}
		}
		&.take-challenge a.takeBtn, &.set-challenge a.setBtn { 
			z-index: 2;
			background: #262930;
		}		
	}
	.thumb { background-color: #191a20; }

	.wrap-more-connections {
		position: absolute;
		background: #fff;
		width: 81%;
		height: 89%;
		top: 5.5%;
		left: 10%;
		z-index: 3;
		@include border-radius($size-border-radius-large);

		& > a.btn-close {
			@include hide-text;
			float: right;
			background: image-url($sprites-path + '/icons.png') no-repeat -77px 0;
			width: 21px;
			margin: 15px;
		}

		& > h3 {
			font-size: 2.5em;
			font-weight: normal;
			margin-top: 40px;
		}

		& > input {
			border: 1px solid #58a9d5;
			width: 370px;
			padding: 20px;
			text-transform: uppercase;
			margin: 15px 0;
			& + a {
				color: #58a9d5;
				text-decoration: none;
				font-family: Arial;
				display: inline-block;
				position: relative;
				bottom: -3px;
				left: 3px;
			}
		}

		.wrap-profiles {
			height: 335px;
			overflow: auto;
			margin: 22px 40px 0;
			text-align: left; 

			label {
				display: inline-block;
				width: 80px;
				text-align: center;
				vertical-align: top;
				margin: 0 20px;
				input {
					position: absolute;
					visibility: hidden;
				}
				img {
					display: block;
				}
				&.selected {
					position: relative;
					font-weight: bold;
					
					&:after {
						content:'';
						position: absolute;
						width: 100%;
						height: 80px;
						top: 0;
						left: 0;
						background: rgba(0,0,0,0.4) image-url('ok.png') no-repeat 50% 50%;
					}
				}
				&.disabled {
					opacity: 0.5;
				}
			}
		}
	}
}


#wrap-select-genre {
	& > p {
		display: inline-block;
		margin: 20px 15px;
	}

	& > div {
		text-align: center;
		margin: 20px auto 0;
		width: 160px;

		a {
			@extend %big-cta-dark;
		}
	}

	h2 {
		color: yellow;
		margin-top: 70px;
		font-weight: normal;
		font-size: 1.9em;
	}
	h3 {
		color: #fff;
		font-style: italic;
		width: 450px;
		margin: 0 auto;
		font-weight: normal;
		line-height: 1.1;
		font-size: 1em;
		margin-bottom: 20px;
	}

	a {
		@extend %big-cta-with-hover;
		width: 130px;
		height: 70px;
		line-height: 1.1;
	}

	a.selected {
		@extend %big-cta-dark;
	}
}


#wrap-set-challenge {	
	h1 {
		margin-bottom: 100px;
	}
	p, select {
		display: inline-block;
		margin: 5px 110px;
	}
	a {
		@extend %big-cta-wrong;
		background: #f16c00;
		margin: 0 auto;
		@include background-image(linear-gradient(#f16c00 0%, #ce5c00 100%));
		width: 300px;
		height: 70px;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		line-height: 1.2;
	}
	a.correct {
		background: #39bb00;
		@include background-image(linear-gradient(#39bb00 0%, #2d771d 100%));
	}
	a.wrong {
		background: #f90000;
		@include background-image(linear-gradient(#f90000 0%, #b70000 100%));
	}
}

#wrap-user-challenges, #wrap-take-challenges, #wrap-show-challenges {
	position: relative;
	
	table {
		width: 100%;
		color: #fff; 
		font-style: italic;
	}
	td,th { text-align: center; width: 25%; padding: 2px 0 5px; vertical-align: middle; height: 67px; }
	.rows-5 { th, td { width: 20%; }}
	th { height: 55px; }
	tr { background: #181b20; border-top: 1px solid #292d35; }
	tr.odd { background: #1f2228; }

	thead tr { background: #000; }
	.wrap-table { margin-top: 0; }
	.viewport { height: 450px; }

	ul { list-style-type: none; margin: 3px 0 0; padding: 0; li { float: left; margin-left: 10px; } }
	a {
		position: relative;
		display: inline-block;
		&:hover span {
			display: block;
		}
		span {
			display: none;
			width: 200px;
			position: absolute;
			bottom: -10px;
			left: 40px;
			z-index: 2;
			background: #01506a;
			background: rgba(1, 80, 106, 0.7);
			padding: 3px 10px;
			@include border-radius(10px);
			color: #fff;
			font-weight: bold;
		}
		
	}
	img.logo-profile { border-width: 3px; }

	.loadingSpinner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: #fff;
		background: image-url('overlay.png') no-repeat 50% 0;

		p {
			padding-top: 175px;
		}
	}
}

 #wrap-take-challenges {
 	nav a {
		@extend %big-cta-with-hover;
		@include border-radius(5px); 		
		width: 248px;
		font-weight: normal;
		min-height: 55px;
		line-height: 55px;

		&.selected {			
			@extend %big-cta-dark-no-pointer;
			@include border-radius(5px); 
		}
 	}
 }

#wrap-victory {
	h1 { text-align: left; } 

	.profile {
		margin-top: 20px;
		@include clearfix;

		a.dashboard {
			@extend %big-cta-with-hover;
		}
		& > div {
			float: left;
		}
		& > div:first-child {
			min-width: 280px;
			p,h2,h3 { text-align: right;}
		}
		& > div:first-child + div {
			padding: 0 30px;
			p + a { margin: 10px 0; display: inline-block; padding: 7px 20px; }			
		}
		& > div:first-child + div + div {
			p { font-style: italic; margin-top: 21px; margin-bottom: 8px; }
			a { height: 50px; }
		}
		p,h2,h3 { text-align: left;  padding: 0; margin: 0; color: #fff; line-height: 1.1; }
		h2,h3 { font-style: italic; color: yellow; }
		h2 { text-shadow: 0px 1px #fff; }
		h3 { font-size: 0.8em; }
	}
	table {
		width: 100%;
		color: #fff; 
		font-style: italic;
		font-size: 0.875em;
	}
	td, th { text-align: left; height: 44px; }
	td { padding: 5px 40px 5px 0; }
	tr { background: rgba(24, 27, 32, 0.5); }
	tr.odd { background: rgba(31, 34, 40, 0.5); }
	td:first-child { width: 15%; }
	td:first-child + td { width: 25%; }

	thead tr { background: #000; }
	.viewport { height: 378px; text-transform: uppercase;}
	.logo-profile { max-height: 90px; border: 5px solid #fff; @include border-radius(5px); }
	.wrong {
		text-align: center;
		&:after { 
			content: ""; display: inline-block; width: 19px; height: 19px; 
			background: image-url($sprites-path + '/bullets.png') no-repeat -20px 0;
		}
	}
	.correct {
		text-align: center;
		&:after { 
			content: ""; display: inline-block; width: 19px; height: 19px; 
			background: image-url($sprites-path + '/bullets.png') no-repeat 0 0;
		}
	}
}


#wrap-gameplay {
	position: relative;
	height: 100%;

	p, h2,h3, strong {
		width: 530px;
		margin: 0 auto;
		font-weight: bold;
	}

	h2 {
		@extend %big-cta;
		background: #2b2e36;
		width: auto;
		display: inline-block;
		min-width: auto;
		@include border-radius(3px);
		margin-top: 35px;
		padding: 5px 25px;
		line-height: 1;
		min-height: auto;
		font-size: 3em;
		color: yellow;
		font-style: italic;

		&:hover { background: #2b2e36; }
	}

	.question{
		text-align: center;
		position: relative;
		height: 212px;
		h3 {
			padding: 0 170px;
			color: #fff;
			font-size: 1.875em;
			line-height: 1.3;
			font-weight: normal;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			height: 210px;
		}
	}

	p { 
		color: yellow; 
		margin-top: 20px;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0 auto;
		padding-left: 10px;
		display: inline-block;

		li {
			margin-right: 10px;
			margin-bottom: 10px;
			display: inline-block;
		}
	}

	ul.wrap-progress {
		position: absolute;
		bottom: 30px;
		left: 0;
		text-align: center;
		width: 100%;
		padding: 0;

		li {
			background: image-url($sprites-path + '/bullets.png') no-repeat -60px 0;	
			width: 19px;
			height: 19px;
		}
		li.correct { background-position: 0 0; } 
		li.wrong { background-position: -20px 0; } 
	}

	.loadingSpinner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: #fff;
		background: image-url('overlay.png') no-repeat 50% 0;

		p {
			padding-top: 175px;
		}
	}

	li a {
		@extend %big-cta-with-hover;
		width: 300px;
		height: 70px;
		text-align: center;
		line-height: 1.2;
	}
	li a.correct {
		@extend %big-cta-correct;
	}
	li a.wrong {
		@extend %big-cta-wrong;
	}

	&.waitingForGo {
		li a, li a:hover {
			@extend %big-cta-dark;
			cursor: default;
			color: gray;
		}
	}
	&.locked {
		li a.correct:hover {
			cursor: default;
			@extend %big-cta-correct;		
		}
		li a.wrong:hover {
			cursor: default;
			@extend %big-cta-wrong;		
		}
	}
}

footer {
	position: relative;
	min-height: 56px;
	padding-top: 20px;
	padding-bottom: 13px;

	div, p, a {
		font-family: $helvetica;
	}

	& > div:first-child {
		margin-top: 5px;
		position: absolute;
		z-index: 2;
		left: 50%;
		margin-left: -436px;
		text-align: left;
		a { font-size: 1em; &:hover { text-decoration: underline; }}
		p { margin-top: 10px;}
	}

	& > ul {
		@extend %ul-horizontal;
		position: absolute;
		z-index: 2;
		right: 50%;
		margin-right: -452px;

		p {
			font-weight: bold;
			font-size: 0.8em;
		}

		li { padding: 0 10px; }
		li:first-child + li + li { border-left: 1px solid #a6c9b1; }
	}

	p, a {
		color: #5b370b;
		font-size: 0.688em;
		text-decoration: none;
		padding: 0;
		margin: 0;
	}
	a {
		font-size: 0.750em;

		&:hover {
			text-decoration: underline;
		}
	}
	#tidy {
		@extend %border-shadow;
		background: #5b370b;
		@include border-radius($size-border-radius-large);
		padding: 5px 5px 7px 15px;
		color: #fff;
		&:after { content: ''; display: inline-block; margin: 0 0 -2px 5px; width: 21px; height: 18px; background: image-url($sprites-path + '/icons.png') no-repeat -57px 0; }
	}
}


.wrap-table { 
	clear: both; margin: 15px 0 10px; position: relative; 
	.viewport { height: 200px; overflow: hidden; position: relative; }
	.overview { list-style: none; position: absolute; left: 0; top: 0; right: 0; }
	.thumb .end,
	.thumb { background-color: #2b2e36; }
	.scrollbar { position: absolute; right: 15px; width: 15px; z-index: 3; }
	.track { height: 100%; width:13px; position: relative; padding: 0 1px; }
	.thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; @include border-radius(5px); }
	.thumb .end { overflow: hidden; height: 5px; width: 13px; }
	.disable{ display: none; }
	td:first-child + td { padding-right: 20px; }
	td:first-child + td + td { padding-right: 40px; }

	&.selectable {
		tr:hover td { cursor: pointer; background: $color-btn-defaultHover-gradientBottom; }
	}
}

.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

.white-popup {
	position: relative; 
	background: #FFF; 
	padding: 20px; 
	width: auto; 
	max-width: 50%; 
	margin: 20px auto; 
	min-height: 300px;

	&.besttimes {
		max-width: 450px; 
	}

	&.message {
		max-width: 350px;
		min-height: 80px;

		& > div { padding-top: 30px; }
	}
}
.mfp-content {
	.loadingSpinner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;

		p {
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -50px 0 0 -50px;
		}
	}
}

.dialog-victory {
	textarea {
		display: block;
		width: 100%;
	}
	.modal-body {
		height: 210px;

		&.loading:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: #fff image-url('loader.gif') no-repeat 50% 50%;
		}

		label {
			display: inline-block;
			width: 80px;
			text-align: center;
			vertical-align: top;
			input {
				position: absolute;
				visibility: hidden;
			}
			img {
				display: block;
			}
			&.selected {
				position: relative;
				font-weight: bold;
				
				&:after {
					content:'';
					position: absolute;
					width: 100%;
					height: 80px;
					top: 0;
					left: 0;
					background: rgba(0,0,0,0.4) image-url('ok.png') no-repeat 50% 50%;
				}
			}
			&.disabled {
				opacity: 0.5;
			}
		}
	}
	.modal-header {
		padding-bottom: 0;

		& > div {
			border-top: 1px solid #eee;
		}

		p { margin: 0; }
	}
	.modal-footer {
		p {
			text-align: left;
		}
	}
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}