%border-shadow {
	@include box-shadow(#fff 0 3px 5px -4px, #111215 0 1px 3px 0px inset);
}

%big-cta {
	display: table-cell; 
	vertical-align: middle;
	color: #fff; 
	font-weight: normal; 
	font-size: 1.375em;
	padding: 0 20px;
	font-family: $futura;
	background: $color-btn-default-gradientBottom;
	@include border-radius($size-border-radius-small); 
	text-decoration: none;
	@include background-image(linear-gradient($color-btn-default-gradientTop 0%, $color-btn-default-gradientBottom 100%));
	@include box-shadow(#fff 0 2px 2px -2px, #000 0 1px 3px 0px inset);
}

%big-cta-with-hover {
	@extend %big-cta;

	&:hover {
		background: $color-btn-defaultHover-gradientTop;
		@include background-image(linear-gradient($color-btn-defaultHover-gradientTop 0%, $color-btn-defaultHover-gradientBottom 100%));
	}
}

%big-cta-correct {
	@extend %big-cta;
	background: $color-btn-correct-gradientBottom;
	@include background-image(linear-gradient($color-btn-correct-gradientTop 0%, $color-btn-correct-gradientBottom 100%));
		
	&:hover {
		background: $color-btn-correct-gradientBottom;
		@include background-image(linear-gradient($color-btn-correct-gradientTop 0%, $color-btn-correct-gradientBottom 100%));
	}
}

%big-cta-wrong {
	@extend %big-cta;
	background: $color-btn-wrong-gradientBottom;
	@include background-image(linear-gradient($color-btn-wrong-gradientTop 0%, $color-btn-wrong-gradientBottom 100%));
}

%big-cta-wrong-with-hover {
	@extend %big-cta-wrong;

	&:hover {
		background: $color-btn-wrongHover-gradientBottom;
		@include background-image(linear-gradient($color-btn-wrongHover-gradientTop 0%, $color-btn-wrongHover-gradientBottom 100%));
	}
}


%big-cta-dark {
	@extend %big-cta;

	background: $color-btn-defaultDark-gradientBottom;
	@include background-image(linear-gradient($color-btn-defaultDark-gradientTop 0%, $color-btn-defaultDark-gradientBottom 100%));
}

%big-cta-dark-no-pointer {
	@extend %big-cta-dark;
	cursor: default;
}

%big-cta-dark-with-hover {
	@extend %big-cta-dark;

	&:hover {
		background: $color-btn-defaultDark-gradientTop;
		@include background-image(linear-gradient($color-btn-defaultDark-gradientTop 0%, $color-btn-defaultDark-gradientBottom 100%));
	}
}

%ul-horizontal {
	margin: 0;
	padding: 0;
	list-style-type: none;

	li {
		@include inline-block;
		margin-left: -4px;
	}
}