$fonts-path : "fonts/";
$others-path : "others";
$sprites-path : "sprites";

$helvetica : 'Helvetica', Arial;
$futura : 'futura-pt', Arial;

$color-btn-default-gradientBottom: #106783;
$color-btn-default-gradientTop: #00455c;
$color-btn-defaultHover-gradientBottom: #015773;
$color-btn-defaultHover-gradientTop: #008fbd;
$color-btn-defaultDark-gradientBottom: #002632;
$color-btn-defaultDark-gradientTop: #00455b;
$color-btn-correct-gradientBottom: #2d771d;
$color-btn-correct-gradientTop: #39bb00;
$color-btn-wrong-gradientBottom: #ad0000;
$color-btn-wrong-gradientTop: #d80000;
$color-btn-wrongHover-gradientBottom: #ad0000;
$color-btn-wrongHover-gradientTop: #f90000;

$color-text-headings: #e3df42;

$size-border-radius-small: 5px;
$size-border-radius-medium: 10px;
$size-border-radius-large: 20px;

@import "compass";
@import "compass/typography/text/replacement";
@import "compass/utilities/general/hacks"; /* filter-gradient needs this (for ie)*/
@import "compass/utilities/general/clearfix";

@import "mixins";
@import "ng-grid";
@import "global";