

/* line 742, sass/_global.scss */
#wrap-victory h1 {
  text-align: left;
}
/* line 744, sass/_global.scss */
#wrap-victory .profile {
  margin-top: 20px;
  overflow: hidden;
  *zoom: 1;
}
/* line 751, sass/_global.scss */
#wrap-victory .profile > div {
  float: left;
}
/* line 754, sass/_global.scss */
#wrap-victory .profile > div:first-child {
  min-width: 280px;
}
/* line 756, sass/_global.scss */
#wrap-victory .profile > div:first-child p, #wrap-victory .profile > div:first-child h2, #wrap-victory .profile > div:first-child h3 {
  text-align: right;
}
/* line 758, sass/_global.scss */
#wrap-victory .profile > div:first-child + div {
  padding: 0 30px;
}
/* line 760, sass/_global.scss */
#wrap-victory .profile > div:first-child + div p + a {
  margin: 10px 0;
  display: inline-block;
  padding: 7px 20px;
}
/* line 763, sass/_global.scss */
#wrap-victory .profile > div:first-child + div + div p {
  font-style: italic;
  margin-top: 21px;
  margin-bottom: 8px;
}
/* line 764, sass/_global.scss */
#wrap-victory .profile > div:first-child + div + div a {
  height: 50px;
}
/* line 766, sass/_global.scss */
#wrap-victory .profile p, #wrap-victory .profile h2, #wrap-victory .profile h3 {
  text-align: left;
  padding: 0;
  margin: 0;
  color: #fff;
  line-height: 1.1;
}
/* line 767, sass/_global.scss */
#wrap-victory .profile h2, #wrap-victory .profile h3 {
  font-style: italic;
  color: yellow;
}
/* line 768, sass/_global.scss */
#wrap-victory .profile h2 {
  text-shadow: 0px 1px white;
}
/* line 769, sass/_global.scss */
#wrap-victory .profile h3 {
  font-size: 0.8em;
}
/* line 771, sass/_global.scss */
#wrap-victory table {
  width: 100%;
  color: #fff;
  font-style: italic;
  font-size: 0.875em;
}
/* line 777, sass/_global.scss */
#wrap-victory td, #wrap-victory th {
  text-align: left;
  height: 44px;
}
/* line 778, sass/_global.scss */
#wrap-victory td {
  padding: 5px 40px 5px 0;
}
/* line 779, sass/_global.scss */
#wrap-victory tr {
  background: rgba(24, 27, 32, 0.5);
}
/* line 780, sass/_global.scss */
#wrap-victory tr.odd {
  background: rgba(31, 34, 40, 0.5);
}
/* line 781, sass/_global.scss */
#wrap-victory td:first-child {
  width: 15%;
}
/* line 782, sass/_global.scss */
#wrap-victory td:first-child + td {
  width: 25%;
}
/* line 784, sass/_global.scss */
#wrap-victory thead tr {
  background: #000;
}
/* line 785, sass/_global.scss */
#wrap-victory .viewport {
  height: 378px;
}
/* line 786, sass/_global.scss */
#wrap-victory .logo-profile {
  max-height: 90px;
  border: 5px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 787, sass/_global.scss */
#wrap-victory .wrong {
  text-align: center;
}
/* line 789, sass/_global.scss */
#wrap-victory .wrong:after {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url('../img/sprites/bullets.png?1369133569') no-repeat -20px 0;
}
/* line 794, sass/_global.scss */
#wrap-victory .correct {
  text-align: center;
}
/* line 796, sass/_global.scss */
#wrap-victory .correct:after {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url('../img/sprites/bullets.png?1369133569') no-repeat 0 0;
}





/* line 1054, sass/_global.scss */
.dialog-victory textarea {
  display: block;
  width: 100%;
}
/* line 1058, sass/_global.scss */
.dialog-victory .modal-body {
  height: 210px;
}
/* line 1061, sass/_global.scss */
.dialog-victory .modal-body.loading:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: white url('../img/loader.gif?1369594689') no-repeat 50% 50%;
}
/* line 1072, sass/_global.scss */
.dialog-victory .modal-body label {
  display: inline-block;
  width: 80px;
  text-align: center;
  vertical-align: top;
}
/* line 1077, sass/_global.scss */
.dialog-victory .modal-body label input {
  position: absolute;
  visibility: hidden;
}
/* line 1081, sass/_global.scss */
.dialog-victory .modal-body label img {
  display: block;
}
/* line 1084, sass/_global.scss */
.dialog-victory .modal-body label.selected {
  position: relative;
  font-weight: bold;
}
/* line 1088, sass/_global.scss */
.dialog-victory .modal-body label.selected:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4) url('../img/ok.png?1370444335') no-repeat 50% 50%;
}
/* line 1098, sass/_global.scss */
.dialog-victory .modal-body label.disabled {
  opacity: 0.5;
}
/* line 1103, sass/_global.scss */
.dialog-victory .modal-header {
  padding-bottom: 0;
}
/* line 1106, sass/_global.scss */
.dialog-victory .modal-header > div {
  border-top: 1px solid #eeeeee;
}
/* line 1110, sass/_global.scss */
.dialog-victory .modal-header p {
  margin: 0;
}
/* line 1113, sass/_global.scss */
.dialog-victory .modal-footer p {
  text-align: left;
}